<!DOCTYPE html>
<html>

<body>
    <div style="height: 100%; margin: 0; padding: 0; position: relative; overflow: hidden;">
        <div style="width: 100%; padding: 10px 0; text-align: center;">
            <img src="https://storage.googleapis.com/profile-ds/Logo.svg"
                style="width: 80px; height: 80px; margin-right: 15px;" />
            <label style="font-size: 24px">Daily Student</label>
        </div>
        <div style="width: 100%;">
            <div style="border: 2px solid #BE6F72;border-radius: 5px; width: 80%; margin: auto"></div>
        </div>

        <div style="padding: 10px 30px;">
            <label style="margin: auto">
                {0}
            </label>
            <div style="text-align: center; margin-top: 20px;">
                <a href="{1}" target="_blank" style="text-decoration: none; color: #BE6F72; font-weight: bold;">CLICK
                    AQUÍ</a>
            </div>

        </div>
    </div>
</body>

</html>